.media-upload {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    border: 2px dashed #251605 !important;
    width: 100%;
    height: 100%; /* Set height to 100% to fill the column */
    cursor: pointer;
}

.media-upload p {
    margin-top: 10px;
}

/* Style for the closing button container */
.close-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Style for the close button (using Bootstrap's btn.btn-close class) */
.btn-close {
    white-space: nowrap;
    padding: 1.25rem 1.25rem;
    border: none;
    color: #efe9e6;
    border-radius: 50%;
    background-color: #efe9e6;
}
.btn-close:focus {
    box-shadow: none;
}

body {
    background-color: #251605 !important;
}
.btn-outline-commment {
    color: #251605;
    border-color: #251605;
    background-color: #efe9e6;
}

.btn.btn-outline-commment:hover {
    color: #251605;
    background-color: white;
    border-color: #251605;
    box-shadow: none;
}
.btn.btn-outline-commment:focus {
    box-shadow: none;
}

.btn-outline-secondary {
    margin: 0px 1px;
    color: #251605;
    border-color: #25160500;
    background-color: #efe9e6;
}

.btn.btn-outline-secondary:hover {
    color: #251605;
    background-color: white;
    border-color: #251605;
    box-shadow: none;
}
.btn.btn-outline-secondary:focus {
    box-shadow: none;
}

.btn.btn-outline-primary {
    color: #251605;
    border-color: #251605;
}
.btn.btn-outline-primary:hover {
    color: white;
    background-color: #251605;
    border-color: #251605;
    outline: none;
}
.btn.btn-outline-secondary:focus {
    box-shadow: none;
}

.hit-voting {
    cursor: pointer;
}
