.full-width {
    display: flex;
    width: 100%;
    /* Ensure the form itself takes up full width */
}
.bookcard {
    background-color: #efe9e6;
    padding: 20px;
    border-radius: 0.25rem;
    box-shadow: 0 4ppx 6px rgba(0, 0, 0, 0.1);
    min-height: 80vh;
    max-height: 100vh;
}
.bookcard img,
.media {
    width: 100%;
    height: auto;
    max-height: 60vh;
    border-radius: 10px;
}

.close-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Style for the close button (using Bootstrap's btn-close class) */
.btn-close {
    white-space: nowrap;
    padding: 1.25rem 1.25rem;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}
.btn-close:focus {
    box-shadow: none;
}
.imgp {
    margin: 10px !important;
}

audio {
    width: 100%;
}
.carousel-item img,
.media img {
    min-height: 70vh;
    max-height: 100vh;
    object-fit: contain;
}

.btn {
    color: #fff !important;
}
.btn:hover {
    background-color: #fff !important;
    border-color: #d1c7bd !important;
    color: #d1c7bd !important;
}


.book-side {
    min-height: 80vh;
}
.book-info {
    background-color: #efe9e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4ppx 6px rgba(0, 0, 0, 0.1);
}
.book-info h4 {
    margin-bottom: 20px;
    background-color: #efe9e6;
}

.information-like_comment_share {
    display: inline-flex;
    align-items: center;
}

.information-like_comment_share i {
    color: #896858;
    font-size: 2rem;
    margin-right: 5px; /* Adjust the spacing between icons as needed */
}
.information-like_comment_share i:hover {
    color: #251605;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 33px;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(29, 204, 20);
    border-radius: 50%;
    display: inline-block;
}

.hit-voting {
    cursor: pointer;
}
