a {
    text-decoration: none;
}
.main {
    justify-content: center;
}
.col-title {
    text-align: center;
}
.card {
    background-color: #efe9e6;
}
.col {
    max-width: 25rem;
    min-width: 15rem;
}
