.container.main {
    background-color: #efe9e6;
    padding: 2rem;

    border-radius: 1rem;
}
.form-group label {
    font-weight: 0;
}
.btn-save {
    color: #251605;

    background-color: #cfbdb4;
}
.btn-save:hover {
    color: #251605;
    background-color: #8968588f;

    box-shadow: none;
}
.btn-save:focus {
    box-shadow: none;
}

.btn-delete {
    background-color: #a5243d;
    color: #fff;
    border: none;
}

.btn-delete:hover {
    background-color: #821d31;
    color: #fff;
}
.cover-side {
    display: inline-block;

    width: -moz-fit-content;
    width: fit-content;
}
.choose-side {
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
}

.cover-side img {
    max-height: 20vh;
}
